body{


    


}
table {
  border-collapse: collapse;
}
table.resultTable th{ border:1px solid black; text-align: center; font-family: 'Marcellus SC', serif; font-size: bold; }
table.resultTable td{ border:1px solid black; text-align: center; font-family: 'Titillium Web', sans-serif;}
.hidden{ display:none; }
.alwaysHidden{
	/*color:transparent;*/
	display:none;
}
.headCell{

    /*font-family: 'Handlee', cursive;*/
	text-decoration: underline;
	color:#0241d6;
}
.mhide{
	opacity: 0.4;
	background-color: gray;
	opacity: 0.5;
}
.highlight{
	background-color: #ced1ff;	
}
.cellOn{
	font-style: italic;	
	color:red;
}
.compareAlert1{
	color:#dd2fe0;
}
.compareAlert2{
	color:#ff0000;
}
.popupOn{
	display: block !important;
}
.popupOff{
	display: none !important;
}
#popupTrackerMenu{
	background-color: #34dbca;
	opacity: .8;
	width: 7em;
	height:8em;
	position:absolute;
	top:10px;
	left:50px;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	display: none;
}
#popupTrackerMenu:hover{
	opacity: 1;
}
ul.plainMenu{
	list-style-type:none;
	padding: 1em;
	margin:0;
}
ul.plainMenu li{
	width:100%;
}
input.popupMenuBtn{
		width:100%;	
    border: none;
    color: #fff;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.bgGreen{
	background-color: #54ba25;
}
.bgBlue{
	background-color: #1a8899;
}
.bgRed{
	background-color: #991a59;
}
.bgGray{
	background-color: #3e3a42;
}

input.popupMenuBtn:hover{
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	 	background-color: #fff; /* Green */
    color: #000;
}

